/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
    color: rgb(101, 125, 255);
}

html, body {
    max-height: 100vh;
    height: 100%;
    margin: 0;
}

.d-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar {
    flex: 0 1 auto; /* Navbar should take only the necessary height */
}

.sidebar-container {
    display: flex;
    flex: 1 1 auto; /* Main container should take the remaining height */
}

.sports {
    color: rgb(242, 83, 83);
}

.sidebar {
    height: 100%;
}

.content {
    flex: 1 1 auto; /* Content should take the remaining width */
    overflow: auto;
}


.footer {
    bottom: 0;
}

.place-bet {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: white;
    cursor: pointer;
}

.place-bet:hover {
    background: #e3e3e3;
}

.bet-column {
    width: 340px;
}

.no-right-border {
    border-right: none;
}

.no-left-border {
    border-left: none;
}

.no-bottom-border {
    border-bottom: none;
}

.no-top-border {
     border-top: none;
}

.full-width-hr {
    width: 103%;
    border-bottom: none;
    border-top: 1px solid black;
}

.game-time {
    height: auto;
    font-size: small;
    text-align: left;
}

.win {
    background-color: limegreen;
}

.loss {
    background-color: red;
}

.pending {
    background-color: white;
}