{% extends "layout.html" %}

{% block title %}
    Baseball
{% endblock %}

{% block main %}
<div class="container mt-5">
    <h2>Upcoming MLB Games</h2>
    {% if games %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Teams</th>
                    <th>Odds (ML)</th>
                    <th class="bet-column">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td class="game-time" colspan="3">
                        <div class="no-bottom-border">
                            <span class="d-inline-block no-right-border">{{ game.commence_time }}</span>
                            {% if game.live %}
                                <p class="text-danger ml-2 mb-0 d-inline-block no-left-border">&nbsp[LIVE]</p>
                            {% endif %}
                        </div>
                    </td>

                </tr>
                <tr>
                    <td class="no-right-border">
                        {% for team in game.odds.keys() %}
                            <p class="my-2 py-2 rounded">{{ team }}</p>
                        {% endfor %}
                    </td>
                    <td class="no-left-border no-right-border">
                        {% for odds in game.odds.values() %}
                            <p class="my-2 py-2 rounded">{{ odds }}</p>
                        {% endfor %}
                    </td>
                    <td class="no-left-border align-middle">
                        <form action="/baseball" method="POST" class="d-inline-block">
                          <input type="hidden" name="game_id" value="{{ game.game_id }}">
                          <input type="hidden" name="sport" value="baseball_mlb">
                            <button type="submit" class="place-bet border border-info">Place Bet</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No upcoming games available.</p>
    {% endif %}
    </div>
{% endblock %}

