{% extends "layout.html" %}

{% block title %}
    Baseball
{% endblock %}

{% block main %}
<div class="container mt-5">
    <h2>Upcoming MLB Games</h2>
    {% if games %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Game Time</th>
                    <th>Teams</th>
                    <th>Moneyline</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td>{{ game.commence_time }}</td>
                    <td>{{ game.teams[0] }} vs {{ game.teams[1] }}</td>
                    <td>
                        {% for outcome in game.moneyline %}
                            {{ outcome.name }}: {{ outcome.price }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        <form action="/place_bet" method="POST">
                          <input type="hidden" name="game_id" value="{{ game.id }}">
                          <input type="hidden" name="sport" value="baseball_mlb">
                          <button type="submit" class="place-bet"><p class="text">Place Bet</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No upcoming games available.</p>
    {% endif %}
    </div>
{% endblock %}