{% extends "layout.html" %}

{% block title %}
    Place Bet
{% endblock %}

{% block main %}

<p>{{ game.teams[0] }} vs {{ game.teams[1] }}</p>
    <form action="/bet" method="POST">
      <input type="hidden" name="game_id" value="{{ game.game_id }}">
      <input type="hidden" name="sport" value="{{ game.sport }}">

      <label for="bet_amount" class="my-2">Bet Amount: $</label>
<input type="number" name="bet_amount" step="1" min="1" placeholder="1.00" value="1.00" max="{{ cash }}" required pattern="\d+(\.\d{1,2})?" onblur="this.value = parseFloat(this.value).toFixed(2);">        <br>
      <label for="bet_outcome" class="my-2">Bet Outcome:</label>
      <select name="bet_outcome">
        {% for outcome in game.moneyline %}
          <option value="{{ outcome.name }}&nbsp ({{ outcome.price }})">{{ outcome.name }} ({{ outcome.price }})</option>
        {% endfor %}
      </select>
        <br>
      <button type="submit" class="place-bet border border-info my-2">Place Bet</button>
    </form>


{% endblock %}