{% extends "layout.html" %}

{% block title %}
    Football
{% endblock %}

{% block main %}
<div class="container mt-5">
    <h2>Upcoming NFL Games</h2>
    {% if games %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="no-right-border">Teams</th>
                    <th class="no-left-border">Odds (ML)</th>
                    <th class="bet-column">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td class="no-right-border">
                        {% for outcome in game.moneyline %}
                            <p class="my-2 py-2">{{ outcome.name }}</p>
                        {% endfor %}</td>
                    <td class="no-left-border">
                        {% for outcome in game.moneyline %}
                            <p class="my-2 py-2 border border-info">{{ outcome.price }}</p>
                        {% endfor %}
                    </td>
                    <td>
                        <div class="mx-0 px-2 mb-3">
                            <span class="d-inline-block">{{ game.commence_time }}</span>
                            {% if game.live %}
                                <p class="text-danger ml-2 mb-0 d-inline-block">[LIVE]</p>
                            {% endif %}
                        </div>
                        <form action="/football" method="POST">
                          <input type="hidden" name="game_id" value="{{ game.game_id }}">
                          <input type="hidden" name="sport" value="football_nfl">
                            <button type="submit" class="place-bet border border-info">Place Bet</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No upcoming games available.</p>
    {% endif %}
    </div>
{% endblock %}