{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>My bets</h1>
    {% if games %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Score</th>
                    <th>Choice</th>
                    <th>RESULT</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td class="game-time" colspan="3">
                        <div class="no-bottom-border">
                            <span class="d-inline-block no-right-border">{{ game.commence_time }}</span>
                            {% if game.pending %}
                                <p class="text-danger ml-2 mb-0 d-inline-block no-left-border">&nbsp[PENDING]</p>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
{#
                    </td>
                    <td>
                        {{ game.outcome }}
                    </td>
                    <td>
                        {% if game.completed %}
                            {% if game.win %}
                                <h4 class="text-success">WIN</h4>
                            {% else %}
                                <h4 class="text-danger">LOSS</h4>
                            {% endif %}
                        {% else %}
                            <h4 class="bg-warning">PENDING</h4>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Choose a sport to place a bet!</p>
    {% endif %}
{% endblock %}