{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>My bets</h1>
    {% if games %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Score</th>
                    <th>Choice</th>
                    <th>RESULT</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td class="game-time" colspan="3">
                        <div class="no-bottom-border">
                            <span class="d-inline-block no-right-border">{{ game.commence_time }}</span>
                            {% if game.pending %}
                                <p class="text-danger ml-2 mb-0 d-inline-block no-left-border">&nbsp[PENDING]</p>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr class="{% if game.completed %}
                                {% if game.win %}
                                    bg-success
                                {% else %}
                                    bg-danger
                                {% endif %}
                            {% else %}
                                bg-light
                            {% endif %}">
                    <td>
                        <p> {{ game.home_team }}: {{ game.home_team_score }}</p>

                        <p>{{ game.away_team }}: {{ game.away_team_score }}</p>
                    </td>
                    <td class="align-middle">
                        {{ game.outcome }}
                    </td>
                    <td class="align-middle">
                        {% if game.completed %}
                            {% if game.win %}
                                <h4>WIN</h4>
                            {% else %}
                                <h4>LOSS</h4>
                            {% endif %}
                        {% else %}
                            <h4>PENDING</h4>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Choose a sport to place a bet!</p>
    {% endif %}
{% endblock %}